version: '{build}'
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2022
nuget:
  disable_publish_on_pr: true
before_build:
  - choco install codecov --no-progress
build_script:
  - ps: .\build.ps1
test: off
init:
  - git config --global core.autocrlf input
environment:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  CI: true
  APPVEYOR: true
services:
  - mssql2019
  - mysql
  - postgresql101
branches:
  only:
    - master
artifacts:
- path: .\artifacts\**\*.nupkg
  name: NuGet
deploy:
- provider: NuGet
  server: https://www.myget.org/F/dommel-ci/api/v2/package
  api_key:
    secure: Ybv0BFFOnHJGoMHW85oav//wa7wExj2QRP7KV1Zegn7SMzNYPyv/DFF1IdzeonJA
  skip_symbols: true
  on:
    branch: master
