[Oo]bj/
[Bb]in/
.nuget/
packages/
artifacts/
pack/
PublishProfiles/
.vs/
debugSettings.json
project.lock.json
*.user
*.suo
nuget.exe
*.userprefs
*DS_Store
*.*sdf
*.ipch
.settings
*.sln.ide
.build/
*.ldf
coveragereport/
coverage*.opencover.xml
coverage*.json
