language: csharp
mono: none
dotnet: 2.2
dist: xenial
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: true
    - TRAVIS: true
services:
  - mysql
  - postgresql
branches:
  only:
  - master
script:
    - dotnet restore
    - dotnet build
    - dotnet test test/Dommel.Tests
    - dotnet test test/Dommel.IntegrationTests
    - dotnet test test/Dommel.Json.Tests
    - dotnet test test/Dommel.Json.IntegrationTests
script:
  - ./build.sh
