language: csharp
mono: none
dotnet: 3.0
dist: xenial
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: true
    - TRAVIS: true
services:
  - mysql
  - postgresql
branches:
  only:
  - master
script:
    - dotnet restore
    - dotnet build
    - dotnet test test/Dommel.Tests --no-build
    - dotnet test test/Dommel.IntegrationTests --no-build
    - dotnet test test/Dommel.Json.Tests --no-build
    - dotnet test test/Dommel.Json.IntegrationTests --no-build
